Description=My Daemon Logger Service
After=network.target

[Service]
ExecStart=/home/ziad/test1/Valeo-Embedded-Linux-Academy/multi_service_application/build/daemon_logger
Restart=always
presistent=true
RestartSec=3
StartLimitInterval=0


[Install]
WantedBy=multi-user.target
